@media screen and (max-width: 1100px){

    *{
        margin: 1px;
    }

    .home{
        display: grid;
        justify-items: center;
        padding-top: 10rem;
        margin-bottom: 0;
    }

    .about{
        display: block;
    }

    .about-container{
        margin-bottom: 20px;
    }


    .skills{
        display: grid;
        gap: 20px;
    }

    .skill-box{
        width: 300px;
    }

    .projects{
        gap: 1rem;
    }

    .projects-container{
        display: grid;
        gap: 1rem;
    }

    .copyright{
        font-size: 12px;
    }

    #About{
        justify-items: center;
    }

    .about-section{
        margin-bottom: 0;
    }

    #profile-section{
        justify-items: center;
    }

    #Skills{
        justify-items: center;
    }

    #Projects{
        justify-items: center;
    }

    #Contact

    .contact-form form{
        width: 80%;
    }

}