*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	list-style:none;
	font-family:sans-serif;
	scroll-behavior:smooth;
	letter-spacing: 0.4px;
}

a{
	font-size: 24px;
	color: black;
	text-decoration-color:white;
	transition: 0.3s ease-in-out;
}

a:hover{
	color:#555555;
	text-decoration-color:#555555 !important;
	text-decoration: underline;
	text-underline-offset:1rem;
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
}

h1{
	font-size:48px;
	color: black;
	line-height: 120%;
}

h2{
	font-size: 28px;
	color: #555555;
	line-height: 120%;
}

h3{
	font-size: 25px;
	color: black;
	line-height: 120%;
}

h4{
	font-size: 20px;
	color: black;
	line-height: 120%;
}

h5{
	font-size: 18px;
	font-weight: 400;
	line-height: 120%;
}

p{
	font-size: 16px;
	line-height: 140%;
}

img{
	width:100%;
	display:block;
}

.navigation{
	margin:0 auto;
	width: 80%;
	display:flex;
	justify-content: space-between;
	align-items: center;
	height:100%;
}

nav{
	height: 8rem;
	position: fixed;
	width:100%;
	display:grid;
	place-items:center;
	background-color: white;	
}

.logo{
	font-size:32px;
	color: black !important;
	text-decoration: none !important;
	font-weight:600;
	transition: 0.5s ease;
}

.logo:hover{
	transition: 0s !important;
	transform: none !important;
}


.nav-links{
	display:flex;
	align-items: center;
	gap:2rem;
}

/* #hamburger-nav{
	display: none;
}

.hamburger-menu{
	position: relative;
	display: inline-block;
}

.hamburger-icon{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
	width: 30px;
	cursor: pointer;
} */



.home{
	padding-top: 16rem;
	display: flex;
	justify-content: center;
	/* max-width: 800px; */
	gap: 2rem;
	/* margin: auto; */
	margin-bottom: 50px;
}

.home-left{
	display: flex;
	margin: auto 0;
}

.home-left img{
	border-radius: 50%;
	width:350px;
	transition: 0.3s ease-in-out;
}

/* .home-left img:hover{
	transform: scale(1.1);
	transition: 0.3s ease-in-out;
} */

.home-right{
	align-self: center;
	text-align: center;
	/* margin: auto; */
	/* align-items: center; */
}

.home-right p{
	color: #555555;
	margin-bottom: 0.5rem;
}

.home-right h2{
	margin-top: 0.5rem;
}

.buttons{
	margin-top: 2rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.btn{
	display: inline-block;
	width: fit-content;
	padding: 1rem;
	width: 10rem;
	border-radius: 2rem;
	cursor: pointer;
	border: 1px solid #353535;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 17px;
	background-color:white;
	color: black;
	transition: 0.3s ease-in-out;
}

.btn-dark{
	color:white !important;
	background-color:#353535 !important;
	transition: 0.3s ease-in-out;
}

.btn:hover{
	background-color:black;
	color:white;
	text-decoration: none;
	transition: 0.3s ease-in-out;
}

.btn-dark:hover{
	background-color:black !important;
	color:white;
	transition: 0.3s ease-in-out;
}

.social{
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 1rem auto;
}

.icon1{
	width:32px;
	height: 32px;
	border-radius: 50%;
}

.about-section{
	padding-top: 150px;
	margin-bottom: 50px;
}


.heading-about{
	text-align:center;
	margin-bottom: 60px;

}

.about-section .intro{
	width: 80%;
	margin: 0 auto 50px;
	text-align: justify;
}

.about{
	display:flex;
	justify-content: center;
	gap: 6rem;
}

.about-container{
	display: block;
}

.about-box{
	margin-top: 20px;
	display:flex;
	gap: 1rem;
}

.about-topics{
	text-decoration:underline;
	text-underline-offset: 0.5rem;
	margin-top: 10px;
	margin-bottom: 40px;
}

.about-box p{
	color: #555555 !important;

}

.about-box h5{
	font-size: 16px;
}

.about-box img{
	width: 60px;
	height:60px;

}

.skills-section{
	padding-top: 150px;
}


.heading-skills{
	text-align:center;
	margin-bottom: 60px;
}

.skills{
	display:flex;
	justify-content: center;
	gap: 50px;
	align-items: center;
	margin: 0 auto 20px;
	width: 80%;
}

.skill-box{
	display:grid;
	justify-content: center;
	align-items: center;
	width: 400px;
	border: 1px solid #999;
	padding: 30px 30px 10px;
	border-radius: 20px;
}

.skill-box h3{
	font-size: 16px;
	margin-bottom: 5px;
	text-align: center;
}

.skill-box hr{
	margin-bottom: 25px;
	opacity: 0.5;
	z-index: -1;
}

.skill{
	display:flex;
	margin-bottom: 30px;
}

.skill img{
	width: 50px;
}


.projects-section{
	padding-top: 150px;
}


.heading-projects{
	text-align:center;
	margin-bottom: 80px;
}

.projects{
	display: grid;
	justify-content: center;
	gap: 3rem;
}

.projects-container{
	display:flex;
	justify-content: center;
	gap: 3rem;
	width: 80%;
	margin: auto;
}

.project-box{
	border: 1px solid #eee;
	border-radius: 20px;
	padding: 20px;
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	align-items: center;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	width: 400px;
}

.project-box img{
	width: 150px;
	border-radius: 10px;
	transition: all 0.3s;
}

.project-box img:hover{
	transform: scale(1.05);
}

.project-box h4{
	font-size: 16px;
}

.project-box p{
	font-size: 12px;
	margin-bottom: 20px;
}

.project-box .btn{
	max-width:120px;
	padding: 5px;
	margin-top: 10px;
	font-size: 16px;	
	background-color: #eee;
}

.project-box .btn:hover{
	background-color: black;
	color:white;
	transform: scale(1.1);
	transition: 0.5s ease;
}

.contact-section{
	padding-top: 150px;
}


.heading-contact{
	text-align: center;
	margin-bottom: 80px;
}

.contact-form form{
	width: 60%;
	margin: 1rem auto;
	text-align:center;
	margin-bottom: 3em;
}

.contact-form input{
	display:flex;
	
}

.contact-form input, .contact-form textarea{
	width: 100%;
	padding: 1.5em;
	font-size: 18px;
	color: black;
	background-color: #eee;
	border: 1px solid black;
	border-radius: 10px;
	margin: 1rem 0;	
	resize: none;
} 

.contact-form .btn{
	max-width: 10em;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.footer-section{
	padding-top: 50px;
}

.copyright{
	text-align:center;
	padding-bottom: 30px;
	color: #d1d1d1;
}


